<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main th:fragment="content">
      <div class="col-lg-8 mx-auto p-3 py-md-5">
        <table>
          <tr>
            <th>Requirement</th>
            <th>Yes/No/Where</th>
          </tr>
          <tr>
            <td>Must handle HTTP POST and GET request</td>
            <td></td>
          </tr>
          <tr>
            <td>Must include parameterized routes (@PathVariable)</td>
            <td></td>
          </tr>
          <tr>
            <td>
              Must include both MVC (@Controller) and REST endpoints
              (@RestController)
            </td>
            <td></td>
          </tr>
          <tr>
            <td>POST must consume either form-urlencoded or JSON payload</td>
            <td></td>
          </tr>
          <tr>
            <td>Must support more than 1 user</td>
            <td></td>
          </tr>
          <tr>
            <td>
              Must include a minimum of 3 views not including REST endpoints
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Making HTTP request to external RESTful API</td>
            <td></td>
          </tr>
          <tr>
            <td>
              REST endpoints must not be those that have been discussed or used
              in class or assessment (eg. Open Weather Map, Giphy, News, etc).
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Use Bootstrap in your HTML to style your user interface</td>
            <td></td>
          </tr>
          <tr>
            <td>Redis database must be running in the ‘cloud’.</td>
            <td></td>
          </tr>
          <tr>
            <td>You must deploy your application to Heroku</td>
            <td></td>
          </tr>
          <tr><td><br></td><td><br></td></tr>
          <tr>
            <th>Other Sources</th>
            <th>
            </th>
            <tr>
              <td>Craig Walls - Spring in Action 6th Edition Manning 2022: </td>
              <td>User Authentication and Authorisation</td>
            </tr>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
