<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head> </head>
  <body>
    <div
      th:fragment="clientsidebar"
      class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
      style="width: 280px; height: 100vh"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <span class="fs-4">Sidebar</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            New Note
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Notes
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Profiles
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Coaching
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Reports
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Find Coaches
          </a>
        </li>
      </ul>
      <hr />
    </div>
  </body>
</html>
