<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <body>
    <header class="p-1 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
        >
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center mb-md-0"
          >
            <li>
              <a th:href="@{/}" class="nav-link px-2 text-white">Home</a>
            </li>
            <li>
              <a th:href="@{/about}" class="nav-link px-2 text-white">About</a>
            </li>
            <li>
              <a th:href="@{/docs}" class="nav-link px-2 text-white">Docs</a>
            </li>
          </ul>

          <div class="text-end">
            <div sec:authorize="isAnonymous()">
              <a
                type="button"
                class="btn btn-outline-light me-2 btn-sm"
                th:href="@{/login}"
              >
                Login
              </a>
              <a
                th:href="@{/register}"
                type="button"
                class="btn btn-outline-light me-2 btn-sm"
              >
                Sign-up
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--main th:fragment="content" -->
  </body>
</html>
