<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      th:action="@{/r/new}"
      method="post"
      class="col-lg-12 mx-auto p-3 py-md-5"
      th:object="${noteForm}"
    >
      <h1>
        Hey <span th:text="${user.username}"></span>, clean old notes up for
        sharing!
      </h1>
      <h3>Cleaned note is saved as a new note</h3>
      <input type="text" th:value="${user.id}" th:field="*{userAccId}" hidden />
      <div class="mb-0">
        <div class="row mb-0">
          <div class="col-3">
            <label>Profile</label>
            <label th:text="${oldNote.profileId}"></label>
          </div>
          <div class="col-3">
            <label for="profile" class="form-label"
              >Choose a profile to save the cleaned note in:</label
            >
            <select class="form-select" th:field="*{profileId}" required>
              <option
                th:each="profile : ${user.profileIdsAndName}"
                th:value="${profile.key}"
                th:text="${profile.value}"
              ></option>
            </select>
          </div>
          <div class="col-6">
            <label for="incidentDate" class="form-label"
              >Date of Incident: </label
            ><br />
            <input
              type="date"
              class="form-control"
              th:field="*{incidentDate}"
              required
            /><br />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="notetitle" class="form-label">Title</label>
        <div class="col-6">
          <div th:text="${oldNote.title}"></div>
        </div>
        <div class="col-6">
          <input
            type="text"
            class="form-control"
            id="notetitle"
            placeholder="Use a short title"
            th:field="*{title}"
            required
          />
        </div>
        <label for="what" class="form-label"
          >Describe what happened during this incident:</label
        >
        <div class="col-6"></div>
        <div class="col-6">
          <textarea
            class="form-control"
            id="what"
            rows="3"
            placeholder="This happened..."
            required
          ></textarea>
        </div>
        <label for="what" class="form-label">How do I feel about this?</label>
        <div class="col-6">
          <div th:text="${oldNote.soWhat}"></div>
        </div>
        <div class="col-6">
          <textarea
            class="form-control"
            id="what"
            rows="3"
            placeholder="I am..."
          ></textarea>
        </div>
        <label for="tags" class="form-label">Tags</label>
        <div class="col-6">
          <div th:text="${oldNote.tags}"></div>
        </div>
        <div class="col-6">
          <input
            type="text"
            id="tags"
            class="form-control"
            placeholder="Add any tags here"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit Cleaned Note</button>
    </form>
  </body>
</html>
