<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Document</title>
  </head>
  <body>
    <main th:fragment="content">
      <div class="col-lg-8 mx-auto p-3 py-md-5">
        <h1>View your notes!</h1>
        <table>
          <tr class="table-primary">
            <th class="col-2">Date</th>
            <th class="col-5">Title</th>
            <th class="col-3">Tags</th>
            <th class="col-2"></th>
          </tr>
          <tr th:each="note : ${notes}">
            <td th:text="${note.incidentDate}"></td>
            <td>
              <a th:href="@{'/n/'+${note.id}}"
                ><span th:text="${note.title}"></span
              ></a>
            </td>
            <td th:text="${note.tags}"></td>
            <td>
              <a
                type="button"
                class="btn btn-info"
                th:href="@{'/n/clean/'+${note.id}}"
                >Sanitize</a
              >
            </td>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
