<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main th:fragment="content">
      <div class="col-lg-8 mx-auto p-3 py-md-5">
        <table class="table">
          <tr class="table-dark">
            <td>Title:</td>
            <td th:text="${note.title}"></th>
          </tr>
          <tr>
            <td>Date of Incident:</td>
            <td th:text="${note.incidentDate}"></td>
          </tr>
          <tr>
            <td>What Happened:</td>
            <td th:text="${note.what}"></td>
          </tr>
          <tr>
            <td>How I felt:</td>
            <td th:text="${note.soWhat}"></td>
          </tr>
          <tr>
            <td>Tags</td>
            <td th:text="${note.tags}"></td>
          </tr>
        </table>
        <a type="button" class="btn btn-primary" th:href="@{'/n/clean/'+${note.id}}">Sanitize</a>
      </div>
    </main>
  </body>
</html>
