<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Document</title>
  </head>
  <body>
    <main th:fragment="content">
      <h1>All of your profiles right here!</h1>
      <div class="col-lg-8 mx-auto p-3 py-md-5">
        <div class="col-4">
          <div class="card">
            <div class="card-body" th:each="profile:${profiles}">
              <h5 class="card-title" th:text="${profile.organisationName}"></h5>
              <h6
                class="card-subtitle mb-2 text-muted"
                th:text="${profile.organisationRole}"
              >
                Card subtitle
              </h6>
              <p class="card-text" th:text="${profile.profileDescription}">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a th:href="@{/n/f(p=profile.id)" class="card-link">Notes</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
