<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>User details</title>
  </head>
  <body>
    <main th:fragment="content">
      <div class="container">
        <h1 class="bd-title mt-0">Your account details</h1>
        <div class="row">
          <div class="col-4">Username:</div>
          <div class="col-8"><span th:text="${user.username}"></span></div>
        </div>
        <div class="row">
          <div class="col-4">First Name:</div>
          <div class="col-8"><span th:text="${user.firstName}"></span></div>
        </div>
        <div class="row">
          <div class="col-4">Last Name:</div>
          <div class="col-8"><span th:text="${user.lastName}"></span></div>
        </div>
        <div class="row">
          <div class="col-4">Account Email:</div>
          <div class="col-8"><span th:text="${user.userEmail}"></span></div>
        </div>
        <div class="row">
          <div class="col-4">No. of Notes:</div>
          <div class="col-8">
            <span th:text="${#lists.size(userList.noteIds)}"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">No. of Profiles:</div>
          <div class="col-8">
            <span th:text="${#lists.size(userList.profileIds)}"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">No. of Dossiers:</div>
          <div class="col-8">
            <span th:text="${#lists.size(userList.dossierIds)}"></span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
