<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main th:fragment="content">
      <form method="POST" th:action="@{/login}" id="loginForm">
        Username: <input type="text" name="username" autocomplete="on" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Log in" />
      </form>
      <div th:if="${error}">
        Unable to login. Check your username and password.
      </div>
      <p>Click <a th:href="@{/register}">here</a> to register.</p>
    </main>
  </body>
</html>
