<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main th:fragment="content">
      <div class="container">
        <div class="row mx-auto p-3 py-md-5">
          <div class="col-8"><img src="/Login.jpg" class="img-fluid" /></div>
          <div class="col-4">
            <br />
            <h1 class="bd-title mt-0">Welcome back!</h1>
            <form method="POST" th:action="@{/login}" id="loginForm">
              <label for="username" class="form-label">Username: </label>
              <input
                type="text"
                name="username"
                id="username"
                autocomplete="on"
                class="form-control"
              /><br />
              <label for="password" class="form-label">Password: </label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
              /><br />
              <input type="submit" value="Log in" class="btn btn-primary" />
            </form>
            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <br />
            <p>Click <a th:href="@{/register}">here</a> to register.</p>
            <br />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
