<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Register new account</h1>
    <form th:action="@{/register}" id="registerForm" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" /><br />
      <label for="password">Password: </label>
      <input type="password" name="password" /><br />
      <label for="fullname">Full name: </label>
      <input type="text" name="fullname" /><br />
      <label for="userEmail">Email: </label>
      <input type="email" name="userEmail" /><br />
      <input type="submit" value="Sign up!" />
    </form>
  </body>
</html>
